<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Lets Eat A Burger</h1>
        <p class="lead"></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <form class="create-form">
            <div class="form-row">
                <div class="col">
                    <input type="text" id="burgerInput" placeholder="Enter Burger">
                </div>
                <button type="submit" class="btn btn-outline-dark btn-lg">Submit</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="panel panel-default col-md-5" style="padding: 0px">
            <div class="panel-heading">
                <h3>Burgers to Eat!</h3>
            </div>
            <div class="panel-body">
                <ul>
                    {{#each burger}}
                    {{#unless devoured}}
                    <div class="card">
                        <p>{{id}}.{{burger_name}}</p>
                        <button type="button" data-crap={{this.id}} class="btn btn-outline-success devour-burger">Devour</button>
                    </div>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default col-md-5" style="padding: 0px">
            <div class="panel-heading">
                <h3>Devoured Burgers!</h3>
            </div>
            <div class="panel-body">
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    <div class="card">
                        <p id="eaten">{{id}} {{burger_name}}</p>
                    </div>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

</div>